### Tibbles
book:  
https://r4ds.had.co.nz/tibbles.html

In [1]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(nycflights13))

In [3]:
as_tibble(iris) %>% head()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [4]:
tibble(
  x = 1:5, 
  y = 1, 
  z = x ^ 2 + y
)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

In [6]:
# special characters as columns names
tb <- tibble(
  `:)` = "smile", 
  ` ` = "space",
  `2000` = "number"
)
tb

  :)          2000
1 smile space number

In [7]:
# tribble: transposed tibble. tribble() is customised for data entry in code: 
# column headings are defined by formulas (i.e. they start with ~), and entries are separated by commas. 
# This makes it possible to lay out small amounts of data in easy to read form.

tribble(
  ~x, ~y, ~z,
  #--|--|----
  "a", 2, 3.6,
  "b", 1, 8.5
)

  x y z
1 a 2 3.6
2 b 1 8.5

In [9]:
tibble(
  a = lubridate::now() + runif(1e3) * 86400,
  b = lubridate::today() + runif(1e3) * 30,
  c = 1:1e3,
  d = runif(1e3),
  e = sample(letters, 1e3, replace = TRUE)
) %>%
head()

  a                   b          c d          e
1 2020-03-21 20:22:33 2020-04-18 1 0.08300346 u
2 2020-03-21 23:56:40 2020-04-18 2 0.39644844 r
3 2020-03-22 18:03:59 2020-04-16 3 0.79698145 k
4 2020-03-21 19:04:27 2020-03-21 4 0.27914695 f
5 2020-03-21 21:51:15 2020-04-01 5 0.47278597 b
6 2020-03-22 03:02:28 2020-04-17 6 0.67204647 x

In [10]:
nycflights13::flights %>% 
  print(n = 10, width = Inf)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
   arr_delay carrier flight tailnum origin dest  air_time distance  hour minute
       <dbl> <chr>    <int> <chr>   <chr>  <chr>    <dbl>    <dbl> <dbl>  <dbl>
 1        11 UA        1545 N14228  EWR    IAH        227     1400     5     15
 2        20 UA        1714 N24211  LGA    IAH        227     1416     5     29
 3        33 AA        1141 N619AA  JFK    MIA        160     1089     5     40
 4       -18 B6         725 N804JB  JFK    BQN        183     1576     5     45
 5       -25 DL         461 N668DN  LGA    ATL        116      762     6      0
 6        12 UA        1696 N39463  EWR    ORD        150      719     5     58
 7        19 B6         507 N516JB  EWR    FLL        158     1065     6      0
 8       -14 EV        5708 N829AS  LGA    IAD         53      229     6      0
 9        -8 B6          79 N593JB  JFK    MCO        140      944     6      0
10         8 AA         301 N3ALAA  LGA    ORD        138      733     6      0
   time_hour
   <dttm>
 1 2013-01-01 05:00:00
 2 2013-01-01 05:00:00
 3 2013-01-01 05:00:00
 4 2013-01-01 05:00:00
 5 2013-01-01 06:00:00
 6 2013-01-01 05:00:00
 7 2013-01-01 06:00:00
 8 2013-01-01 06:00:00
 9 2013-01-01 06:00:00
10 2013-01-01 06:00:00
# … with 3.368e+05 more rows

### subsetting

In [14]:
df <- tibble(
  x = runif(5),
  y = rnorm(5)
)

# Extract by name
df$x

df[["x"]]

# Extract by position
df[[1]]

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

In [17]:
# subsetting in pipe use place holder "."
df %>% .$x

df %>% .[["x"]]

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

In [19]:
class(mtcars)

[1] "data.frame"

In [28]:
df['x']
df[['x']]
df$x

  x
1 0.6995768
2 0.7575230
3 0.1078100
4 0.2380381
5 0.4058545

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

[1] 0.6995768 0.7575230 0.1078100 0.2380381 0.4058545

In [ ]:

%>%
head()